<po-accordion>
   <po-accordion-item p-label="Projetos">
         <po-accordion>
            <po-accordion-item p-label="Cartório baseado em BlockChain - TCC">
               Um cartório 
            </po-accordion-item>
            <po-accordion-item p-label="Sistema de Intranet">
               Sistema de intranet desenvolvido em PHP 8 utilizando o framework Laravel e o banco de dados MySQL. 
               O sistema incorpora autenticação de rotas, consumo de APIs, controle de ativos e acessos.
            </po-accordion-item>
            <po-accordion-item p-label="Relógio Dinâmico">
               Projeto de relógio digital responsivo e estilizado, exibindo hora atual, data, localização e temperatura em tempo real. Integração de duas APIs: Nominatim para informações de localização e Weatherbit para dados climáticos em tempo real.
            </po-accordion-item>
      </po-accordion>
    </po-accordion-item>
    <po-accordion-item p-label="Tecnologias">
         <po-accordion>
            <po-accordion-item p-label="ADVPL">
               2 anos
            </po-accordion-item>
            <po-accordion-item p-label="PHP">
               2 anos
            </po-accordion-item>
            <po-accordion-item p-label="SQL">
               2 anos
            </po-accordion-item>
      </po-accordion>
    </po-accordion-item>
  
    <po-accordion-item p-label="Sobre mim">
      Um programador Full-Stack proativo e criativo com experiência em integração de sistemas e desenvolvimento de WebServices. Minhas habilidades abrangem tecnologias como React, Angular, Laravel, além de conhecimentos em bancos de dados e desenvolvimento front-end e back-end.
    </po-accordion-item>
</po-accordion>
